<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
               <form #app="ngForm" (ngSubmit)="addCourse()">
                <div class="form-group">
                    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                        <label for="" class="form-label">Course title :</label>
                        <input type="text" class="form-control"[(ngModel)]="course.coursetitle"name="title">
                    </div>
                    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                        <label for="" class="form-label">Duration :</label>
                        <input type="time" class="form-control"[(ngModel)]="course.courseDuration"name="Duration">
                    </div>
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                        <label for="" class="form-label">Description :</label>
                        <textarea name="" id="" cols="30" rows="5" class="form-control"[(ngModel)]="course.courseDescription" name="Description"></textarea>
                    </div>
                    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                        <label for="" class="form-label">Venue :</label>
                        <input type="" class="form-control"[(ngModel)]="course.courseVenue"name="Venue">
                    </div>
                    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                        <label for="" class="form-label">Date :</label>
                        <input type="date" name="" id="" class="form-control" [(ngModel)]="course.courseDate"name="date">
                    </div>
                    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                        <button class="btn btn-primary">Register</button>
                        
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>

